    
    <style>
    .cercle{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttonCircle{
        padding: 20px;
        border-radius: 50%;
        border: none;
        background-color: gray;
        color: white;
        
    }
    
    </style>
    
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Expérience</h2>
                    <h3 class="section-subheading text-muted">Voici un bref apperçu de mes divers expériences</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image cercle">
                                <img class="img-circle img-responsive" src="" alt="">
                                 {# <button class="buttonCircle" onclick="typeWritery()">voir</button> #}
                            </div>
                            <div class="timeline-panel apear" >
                                <div class="timeline-heading">
                                    <h4>2013-2018</h4>
                                    <h4 class="subheading">animateur périscolaire</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" id="animateur">animateur périscolaire à la mairis de Chelles. Cala à été très dynamique et il fallait avaoir un bon esprit d'equipe et de la patience. Tout cela avec de la bonne humeur bien-sûr !</p>
 </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image cercle">
                                <img class="img-circle img-responsive" src="" alt="">
                                {# <button class="buttonCircle" onclick="typeWriteryyy()">voir</button> #}
                            </div>
                            <div class="timeline-panel apear ">
                                <div class="timeline-heading">
                                    <h4>2018-2021</h4>
                                    <h4 class="subheading">préparateur de commande</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" id="preparateur"> Responsable d’une Responsable d'une equipe de 3 personnes, mes tâches quotidiennes firent : conditionnement des produits ( palettes de produits à destination des clients), renfort occasionnel après des chocolatiers ( moulage, démoulage,préparation de praliné...)  </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image cercle">
                                <img class="img-circle img-responsive" src="" alt="">
                                  {# <button class="buttonCircle" onclick="typeWriteryy()">voir</button> #}
                            </div>
                            <div class="timeline-panel apear">
                                <div class="timeline-heading">
                                    <h4>2022</h4>
                                    <h4 class="subheading">formation Dévéloppeur web chez Doranco</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" id="doranco"> Formation intensive de 6 mois pour approfondir mes connaissances du mon web, j'ai beaucoups transpiré, mais cela vous vous en douté.</p>
                                </div>
                            </div>
                        </li>
                        {# <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> #}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>L'histoire
                                    <br>continue
                                    <br>!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    {# <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="" class="img-responsive img-circle" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="" class="img-responsive img-circle" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="" class="img-responsive img-circle" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    #}
    </section> 