 <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">facundoVaras</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {# <li><a href="#"><i class="fas fa-twitter"></i></a>
                        </li> #}
                        <li> <a href="https://www.linkedin.com/feed/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://github.com/cundovar" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>