  <!-- Header -->


  
    <header >
        <div class="container" id="container">
        {# <div class="paralaxe"> #}
         {# <div class="imagee" id="image1" style=" background-image: url('./images/image1.jpg');"></div> #}
                  {# <div class="imagee" id="image2" style=" background-image: url('./images/image2.jpg');"></div> #}
                  {# <div class="imagee" id="image3" style=" background-image: url('./images/image3.jpg');"></div> #}
                  {# </div> #}
              <div class="intro-text">
                  
                    {# <div class="intro-lead-in">Facundo Varas</div>/ #}

                    <div class="intro-heading pres" id="text"></div>
                    
                    {# <div class="intro-heading pres"> je m'appelle Facundo Varas</div> #}
                    <div class="intro-heading" id="dev" >Developpeur web</div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.     Accusantium, ea?
                    </p>
                    <div class="testt">
                         <a href="{{path('acceuil',{'_fragment':"presentation"} )}}" class="page-scroll btn btn-xl" id="testt" onclick="typeWriter()"  >allons y !!</a>
                    </div>
              </div>
                {# <div class="fotoMoi">
                      <div class="logo">
                         <a href="https://www.linkedin.com/feed/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                         <a href="https://github.com/cundovar" target="_blank"><i class="fa-brands fa-github"></i></a>
                         
                      </div> #}
                </div>
        </div>
    </header>
  