<div class= "presentation" id="presentation">
   <div class="textPresent">
       <p><strong id="demo"></strong></p>
       <p>Je suis un jeune développeur en herbe ayant eu un parcour professionnel atypique.</p>
       <p> En étant pas mal d'années animateur périscolaire en maternelle et élémentaire avec mon CAP petite enfance, pour ensuite travailler dans une petite entreprise de pâtisserie. J'ai aussi été veilleur de nuit et pleins d’autres jobs durant ma vie.</p>
       <p>J'ai découvert le code au fil de mes rencontres et je suis tombé dedans avec plaisir! Curieux et impatient de découvrir de  nouveaux langages tout en me perfectionnant sur ceux que je connais.</p>
       <a href="./images/cvVaras.pdf" target="_blank"><button class="bouton" id="bouton">voir mon CV</button></a>
   </div>

   <div class="fotoPresentation">
      <div class="wrapper">
         <div class="portrait">
             <img src="./images/moi.jpg" class="moiLunette" alt="">
         </div>
      </div>
   </div>
   
</div>