
    <!-- Services Section -->
    <section id="services">
        <div class="container">
        
            <div class="row">
                {# <div class="col-lg-12 text-center"> #}
                    {# <h2 class="section-heading">Services</h2> #}
                    {# <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> #}
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    {# <span class="fa-stack fa-4x">/ #}
                        {# <i class="fa fa-circle fa-stack-2x text-primary"></i>/dsa #}
                        {# <i class="glyphicon glyphicon-tree-conifer"></i> #}
                    </span>
                    <h2 class="service-heading scrolly2"><strong>HTML</strong> </h2>
                    <hr>
                    <p class="text-muted">Deux d'experiences en HTML</p>
                </div>
                <div class="col-md-4">
                    {# <span class="fa-stack fa-4x"> #}
                        {# <i class="fa fa-circle fa-stack-2x text-primary"></i> #}
                        {# <i class="glyphicon glyphicon-heart"></i> #}
                    </span>
                    <h2 class="service-heading scrolly"><strong> CSS</strong></h2>
                    <hr>
                    <p class="text-muted">Deux d'expériences en CSS</p>
                </div>
                <div class="col-md-4">
                    {# <span class="fa-stack fa-4x"> #}
                        {# <i class="fa fa-circle fa-stack-2x text-primary"></i> #}
                        {# <i class="glyphicon glyphicon-tint"></i> #}
                    </span>
                    <h2 class="service-heading scrolly3"><strong>Javascript</strong> </h2>
                    <hr>
                    <p class="text-muted">Un ans d'expérience en Javascript</p>
                </div>

                  <div class="col-md-4">
                       {# <span class="fa-stack fa-4x"> #}
                           {# <i class="fa fa-circle fa-stack-2x text-primary"></i> #}
                           {# <i class="glyphicon glyphicon-tint"></i> #}
                       </span>
                       <h2 class="service-heading scrolly2"><strong>PHP</strong> </h2>
                       <hr>
                       <p class="text-muted">Cela fait 6 mois que je travaille dessus
                  </div>
                    <div class="col-md-4">
                       {# <span class="fa-stack fa-4x"> #}
                           {# <i class="fa fa-circle fa-stack-2x text-primary"></i> #}
                           {# <i class="glyphicon glyphicon-tint"></i> #}
                       </span>
                       <h2 class="service-heading scrolly"><strong> Symfony</strong></h2>
                       <hr>
                       <p class="text-muted">Cinq mois avec Symfony
                     </div>

                       <div class="col-md-4">
                           {# <span class="fa-stack fa-4x"> #}
                               {# <i class="fa fa-circle fa-stack-2x text-primary"></i> #}
                               {# <i class="glyphicon glyphicon-tint"></i> #}
                           </span>
                           <h2 class="service-heading scrolly3"> <strong> React</strong></h2>
                           <hr>
                           <p class="text-muted">En apprentissage</p>
                      </div>

            </div>
        </div>
    </section>
