{% extends 'base.html.twig' %}
{% block body %}

<div class="container2">
    <div class="text1">
      <h1 class="h"> Get <span>insights</span> that help your business grow.</h1>
      <br>
      <p class="pp">
        Discover the benefits of data analytics and make better decisions regarding revenue, customer
        experience, and overall efficiency.
      </p>
      <br>
      <br>
      <div class="number1">
        <div class="box"><strong>  10k+</strong> <span> companies</span> </div>
        <div class="box"><strong> 314 </strong><span> templates</span> </div>
        <div class="box"><strong> 12M+</strong><span> queries </span> </div>
      </div></span>
    </div>
    <div class="photo">
      <img src="/images/image-header-desktop.jpg" class="trr" alt="">
    </div>
  </div>
  
    
 
  {% endblock %}